@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Empêche le zoom automatique sur iOS lors du focus des inputs */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}

/* On remet ensuite la taille visuelle qu'on veut via Tailwind dans les composants 
   Le navigateur "croit" que c'est du 16px donc il ne zoome pas, 
   mais Tailwind reprend le dessus pour l'affichage. */

   body {
  touch-action: pan-x pan-y; /* Autorise le scroll mais bloque le zoom tactile */
  -webkit-text-size-adjust: 100%; /* Empêche l'ajustement auto du texte */
}