@import "tailwindcss";

:root {
  /* Ta nouvelle palette Waikawa Gray */
  --waikawa-50: #f6f6f9;
  --waikawa-100: #ebecf3;
  --waikawa-200: #d3d6e4;
  --waikawa-300: #adb2cc;
  --waikawa-400: #8089b0;
  --waikawa-500: #58618a;
  --waikawa-600: #4c537d;
  --waikawa-700: #3e4366;
  --waikawa-800: #363b56;
  --waikawa-900: #313449;
  --waikawa-950: #202231;

  /* Mapping du système */
  --background: var(--waikawa-50);
  --foreground: var(--waikawa-900);
}

@theme inline {
  --color-w-50: var(--waikawa-50);
  --color-w-100: var(--waikawa-100);
  --color-w-200: var(--waikawa-200);
  --color-w-500: var(--waikawa-500);
  --color-w-800: var(--waikawa-800);
  --color-w-900: var(--waikawa-900);
  --color-w-950: var(--waikawa-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .card-custom {
    /* Fond blanc pur ou très léger gris avec bordure douce */
    @apply bg-white border border-w-200 rounded-[2rem] shadow-sm;
  }
  
  .input-custom {
    @apply bg-w-100 border border-w-200 rounded-xl px-5 py-4 
           focus:outline-none focus:ring-2 focus:ring-w-500/20 focus:border-w-500
           placeholder-w-400 transition-all text-w-900;
  }

  .btn-primary {
    @apply bg-w-900 text-w-50 rounded-xl px-6 py-4 font-black uppercase tracking-widest active:scale-95 transition-all;
  }
}